{% extends 'base.html' %}

{% load static %}

{% block content %}

<title>{% block title %}Home{% endblock %}</title>

    
    <link rel="stylesheet" href="{% static 'css/home/style_home.css' %}">
  <div class="container">
    <h1 ></h1>
    
    <div class="container">

      <h2 style="color: red;">Versão demo ...</h2>

      <p style="color: red"> Os dados são fictícios !  </p>

      {% comment  %}
      <p>Com este sistema, você tem a praticidade de agendar suas consultas de forma rápida e fácil, diretamente do seu computador ou dispositivo móvel.</p>
 
      <h2>Aproveite os benefícios:</h2>
  
      <ul>
          <li class="p_min">Agendamento 24 horas por dia, 7 dias por semana: Acesse o sistema a qualquer momento e agende sua consulta no horário que melhor lhe convém.</li>
          <li class="p_min">Visualização de horários disponíveis: Encontre a data e hora ideal para você, sem necessidade de telefonemas ou filas.</li>
          <li class="p_min">Confirmação rápida e segura: Receba a confirmação do seu agendamento por email, garantindo que sua consulta está agendada.</li>
          <li class="p_min">Gerenciamento completo: Acesse seus agendamentos, cancele ou altere suas consultas com total autonomia.</li>
      </ul>
  
      <a class="link-any p_min" href="{% url 'cadastro' %}">Cadastre-se</a>
    </div>
  </div>
  {% endcomment %}

  {% endblock %}
