{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home/style_login.css' %}">
<script src="{% static 'js/js_login.js' %}" defer></script>
  <main class="main">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    
    <div class="container text-center">
      <h2>Login</h2>
      <form class="form" method="post">
          {% csrf_token %} 
          
          <label for="cpf">CPF</label>
          <input id="cpf" type="text" name="cpf">
          
          <label for="password">Senha</label>
          <input id="password" type="password" name='password'>
          
          <button class="button-login">Entrar</button>  
      </form>
    </div>
  </main>
{% endblock %}