:root {
    /*texto*/
    --h1_max: 3.5rem;
    --h2_max: 2.3rem;
    --p_max:1.6rem;
    --h1_medium: 1.7rem;
    --h2_medium: 1.4rem;
    --p_medium:2.4rem;
    --h1_min: 3rem; 
    --h2_min: 2.5rem; 
    --p_min:2rem;
    --p_mini_size:1.5rem;
    /*tamanho de tela*/
    --max_width:100%;
    --medium_width:95%;
    --minimum_width:90%;
    --center: center;
    /*links*/
    --background_links_blue:rgb(0, 100, 150);
    --background_links_green:rgb(0, 150, 50);
    --background_links_yellow:rgb(220, 220, 0);
    --background_links_orange:rgb(200, 100, 0);
    --background_links_orange_hover:rgb(164, 52, 8);
    --color_links:white;
    --transition:1s;
    --link-font-default: 1.2rem;
    /*backgrounds*/
    --yellow: yellow;
    --background_default: #FFFFE0;
    --hide:none;
    --no_hide:inline-block;
    /*header*/
    --background_header:orangered ;
  }


  /*background*/

  .background-default{
    background-color: var(--background_default);
  }
  
  
  /*header*/
.bg-dark{
  color:red;
  background-color: var(--background_header) !important;
  padding: 6px;
}

.header_links {
    color: var(--color_links) !important;
    border-radius: 6px;
  }  

.header_links:hover{
  transition: var(--transition);
  background-color: var(--background_links_orange_hover);
}
/*links*/
.link-any{
    background-color: var(--background_links_green);
    color: aliceblue;
    text-decoration: none;
    border-radius: 6px;
    padding: 2px;
}
.p_min{
  font-size: var(--p_min);
}
.p_medium{
  font-size: var(--p_medium);
}
.p_max{
  font-size: var(--p_max);
}
.h1_max{
  font-size: var(--h1_max);
}
.h1_min{
  font-size: var(--h2_min);
}mi
.mini_size{
  font-size: var(--p_mini_size);
}
.hide{
  display: var(--hide);
}
.no_hide{
  display: var(--no_hide);
}
@media (min-width: 1200px) {
  .p_min{
    font-size: var(--p_mini_size);
  } 
  .h1_max{
    font-size: var(--p_min);
  }
}