@import url('../const/fonts.css');
/* Estilos gerais para todo
*/

.container{
  max-width: var(--medium_width);
}
@import url("../const/fonts.css");
/*padrão*/
body {
  background: var(--background_default);
}
@media (min-width: 728px) {
  .special{
    display: none ;
  } 
  h1 {
    font-size: var(--h1_min); /* Tamanho menor para mobile */
  }
  h2 {
      font-size: var(--h2_min); /* Tamanho menor para mobile */
  }
  p {
    font-size: var(--p_min) ;
  }
  .nav-link{
    text-align: center;
    font-size: var(--p_min) ;
  }
  .container {
    max-width: var(--max_width); /* Largura menor para mobile */
  }
  
  }

  
@media (min-width: 992px) {
  
h1 {
  font-size: var(--h1_medium); /* Tamanho menor para mobile */
}
h2 {
    font-size: var(--h2_medium); 
}
p {
  font-size: var(--p_medium); 
}

.container {
  max-width: var(--min_width); 
}

}



  @media (min-width: 1200px) {
    
    h1 {
      font-size: var(--h1_max); 
    }
      h2 {
      font-size: var(--h2_max); 
    }
    p {
      font-size: var(--p_max);
    }
     .container {
      max-width: var(--minimum_width); 
     }
     .nav-link{
      text-align: center;
      font-size: var(--link-font-default);
    }
    .special{
      display: table-cell;
    }
  }
  