
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    {% block content %}
    <title>{% block title %}Médicos{% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/portal_do_paciente/style_gerenciar_medicos.css' %}">
    <script src="{% static 'js/js_gerenciar_medicos.js' %}" defer></script>
</head>
<body >
    
    <div class="container">
        {{ message }}
        <h1 class="h1_max">Gerenciar Médicos</h1>
        <br>

        <form method="get" class="mb-3">
            <div class="row">
                <div class="col-md-4">
                    <input class="mini_size" type="text" class="form-control" name="search_cpf" placeholder="Buscar por CPF" value="{{ search_term }}">
                    <br>
                </div>
                <div class="col-md-2">
                    <button class="mini_size" type="submit" class="btn btn-sm btn-primary">Pesquisar</button>
                </div>
            </div>
            
            <h2 class="h1_min text-center">Lista</h2>
            <br><br>
        <table class="table table-striped">
            <thead>
                <tr>
                <th class="special mini_size" scope="col">Nome</th>
                <th class="special mini_size" scope="col">Email</th>
                <th class="special mini_size" scope="col">Data de Nascimento</th>
                <th class="p_min mini_size" scope="col">CPF</th>
                <th class="special mini_size" scope="col">CRM</th>
                <th class="special mini_size" scope="col">Especialidade</th>
                <th class="p_min mini_size" scope="col">Editar</th>
                <th class="p_min mini_size" scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
            {% for medico in medicos %}
            <tr>
                <td class="special mini_size">{{ medico.nome }}</td>
                <td class="special mini_size">{{ medico.email }}</td>
                <td class="special mini_size">{{ medico.data_de_nascimento|date:"d/m/Y" }}</td>
                <td class="mini_size">{{ medico.cpf }}</td>
                <td class="special mini_size">{{ medico.crm }}</td>
                <td class="special mini_size" >{{ medico.especialidade }}</td>
                <td ><a class="btn btn-sm btn-secondary mini_size" href="{% url 'editar_medico' id_medico=medico.id id_adm=id %}">Editar</a></td>
                <td ><a class="btn btn-sm btn-danger mini_size" href="{% url 'remover_medico' id_medico=medico.id id_adm=id %}">Excluir</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if medicos.has_previous %}
                    <a class="mini_size" href="?page=1{% if search_term %}&search_cpf={{search_term}}{% endif %}">« Primeira</a>
                    <a class="mini_size" href="?page={{ medicos.previous_page_number }}{% if search_term %}&search_cpf={{search_term}}{% endif %}">Anterior</a>
                {% endif %}
        
                <span class="current mini_size">
                    Página {{ medicos.number }} de {{ medicos.paginator.num_pages }}.
                </span>
        
                {% if medicos.has_next %}
                    <a href="?page={{ medicos.next_page_number }}{% if search_term %}&search_cpf={{search_term}}{% endif %}">Próxima</a>
                    <a href="?page={{ medicos.paginator.num_pages }}{% if search_term %}&search_cpf={{search_term}}{% endif %}">Última »</a>
                {% endif %}
            </span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <br>
        </form class="container">
        <h2 class="text-center">Adicionar Médico</h2>
        <form method="post" class="container">
            {% csrf_token %}
            <div class="mb-3">
                 <div class="mb-3 h1_max">
                    {{ form.nome.label_tag }}
                    {{ form.nome }}
                    </div>
                
                 <div class="mb-3 h1_max">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    </div>

                 <div class="mb-3 h1_max">
                   {{ form.data_de_nascimento.label_tag }}
                   {{ form.data_de_nascimento }}
                 </div>

                 <div class="mb-3 h1_max">
                    {{ form.cpf.label_tag }}
                    {{ form.cpf }}
                 </div>

                  <div class="mb-3 h1_max">
                    {{ form.crm.label_tag }}
                    {{ form.crm }}
                  </div>

                 <div class="mb-3 h1_max">
                     {{ form.especialidade.label_tag }}
                    {{ form.especialidade }}
                 </div>
                    <br>

                 <div class="mb-3 h1_max">
                     {{ form.password.label_tag }}
                    {{ form.password }}
                    </div>
            </div>
            <button type="submit" class="btn btn-primary h1_max">Salvar</button>
        </form>
        <br>
        
    <br>
    {% endblock %}
